<div class="social-media">
    <h6 class="text-warning mb-3">Siguenos en Redes</h6>
    <div class="d-flex gap-3">
        <a href="#" class="text-light fs-4" title="Discord">
            <i class="fab fa-discord"></i>
        </a>
        <a href="#" class="text-light fs-4" title="Reddit">
            <i class="fab fa-reddit"></i>
        </a>
        <a href="#" class="text-light fs-4" title="Twitch">
            <i class="fab fa-twitch"></i>
        </a>
        <a href="#" class="text-light fs-4" title="YouTube">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</div>